                <hr>
                <div class="icon-wrapper">
                    <div class="icon facebook"><i class="fab fa-facebook-f"></i></div>
                    <div class="icon instagram"><i class="fab fa-instagram"></i></div>
                    <div class="icon twitter"><i class="fab fa-twitter"></i></div>
                    <div class="icon youtube"><i class="fab fa-youtube"></i></div>
                </div>
            </div>
        </section>
        <section class="right-side"></section>
    </div>
    <script src="https://kit.fontawesome.com/61c651c0ef.js" crossorigin="anonymous"></script>
</body>
</html>