<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="stylesheet" href="./assets/styles/result-styles.css">
</head>

<body>
    <form action="" method="post">
        <input type="submit" value="All" name="all">
    </form>
    <form action="" method="post">
        <input type="submit" value="Sort by date" name="by-date">
    </form>
    <form action="" method="post">
        <input type="submit" value="Sort by name" name="by-name">
    </form>
    <br>